
<!DOCTYPE html>
<html lang="en" ng-app="WeatherApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>SkyCast | Weather</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIsvnDnCKd2r5f5CWeOTM34fLj8uoKvfc&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body>

    <!-- Begin page content -->
    <div class="container" align="center">
      <div class="mt-1">
        <h1>SkyCast Inc.</h1>
      </div>
      <p class="lead">The most accurate weather in the Sky!</p>
    </div>

    <div ng-controller="WeatherController" class="container" align="center">
      <form>
        <div class="form-row">
          <div class="col-sm-8">
            <input ng-model="city.name" id="inputCity" class="form-control" type="text" placeholder="city">
          </div>
          <div class="col-sm-4">
            <input ng-click="createWeather(city)" class="form-control" type="button" value="Get weather">
          </div>
        </div>
      </form>
      <div class="row current-weather">
        <div class="col-sm-12">
          <h1>{{ currentCity }}</h1>
          <img ng-if="weather.currently.icon === 'clear-night'" src="img/my-icons-collection/png/007-night.png">
          <img ng-if="weather.currently.icon === 'clear-day'" src="img/my-icons-collection/png/012-sun.png">
          <p>{{ weather.currently.summary }}</p>
          <h2>{{ weather.currently.temperature | number: 0 }}&deg</h2>
          <p><span class="text-muted">{{ weather.daily.data[0].temperatureLow | number: 0 }} - {{ weather.daily.data[0].temperatureHigh | number: 0 }}</span></p>
        </div>
      </div>
      <div class="row daily-weather">
        <table class="table">
          <tbody>
            <tr ng-repeat="day in weather.daily.data" ng-if="!$first">
              <th scope="row">{{ (day.time * 1000) | date : 'EEEE' }}</th>
              <td ng-if="day.icon === 'clear-day'"><img src="img/my-icons-collection/png/012-sun.png"></td>
              <td ng-if="day.icon === 'partly-cloudy-day'"><img src="img/my-icons-collection/png/011-cloudy.png"></td>
              <td ng-if="day.icon === 'partly-cloudy-night'"><img src="img/my-icons-collection/png/007-night.png"></td>
              <td ng-if="day.icon === 'rain'"><img src="img/my-icons-collection/png/010-storm.png"></td>
              <td ng-if="day.icon === 'wind'"><img src="img/my-icons-collection/png/002-cloud.png"></td>
              <td ng-if="day.icon === 'snow'"><img src="img/my-icons-collection/png/009-snowing.png"></td>
              <td>{{ day.temperatureHigh | number: 0 }}</td>
              <td>{{ day.temperatureLow | number: 0 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <ul>
            <li>Built by <a href="https://kj-portfolio.herokuapp.com/">Kyle Johnson</a></li>
            <li>Powered by <a href="https://darksky.net/poweredby/">Dark Sky</a></li>
            <li>Icons made by <a href="https://www.flaticon.com/authors/linector">Linector</a> from <a href="https://www.flaticon.com/">www.flaticon.com</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
