
/*
@media (max-width: 480px) {
  h2 {
    font-size: 22px;
  }
}

.primary-font {
  font-family: 'Nunito', sans-serif !important;
}
.primary-color {
  color: #F15725;
}

.btn-primary {
  background-color: #F15725;
  border-color: #F15725
}
.btn-primary:hover {
  background-color: #E34725;
  border-color: #E34725;
}
.btn-primary:active {
  background-color: #E34725 !important;
  border-color: #E34725 !important;
  box-shadow: 0 0 8px rgba(241, 87, 37, 0.5) !important;
  outline: none !important;
}
.btn-primary:visited {
  background-color: #E34725 !important;
  border-color: #E34725 !important;
  outline: none !important;
}
.btn-primary:focus {
  background-color: #E34725 !important;
  border-color: #E34725 !important;
  outline: none !important;
}

input:focus {
  border-color: #F15725 !important;
  box-shadow: 0 0 8px rgba(241, 87, 37, 0.5) !important;
}
*/

form {
  max-width: 400px;
}
@media (max-width: 767px) {
  .form-control[type="button"] {
    margin-top: 4px;
    width: 150px;
  }
}
@media (min-width: 768px) {
  .col-sm-8 {
    padding-left: 0;
  }
  .col-sm-4 {
    padding: 0;
  }
}

.current-weather h1 {
  font-size: 36px;
}
.current-weather h2 {
  font-size: 24px;
}
.current-weather p {
  font-size: 16px;
}
.container {
  max-width: 700px;
}
.table>tbody>tr>th,
.table>tbody>tr>td{
  vertical-align: middle !important;
}

footer {
  
}
footer ul {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
